* {
}
body {
  background-color: white;
  margin: 0;
}

/*
NAV BAR RELATED
*/
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
li {
    list-style-type: none;
}
nav {
    width: 80%;
    margin: auto;
    height: 80px;
}
#nav-logo {
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-bar-links {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
}
#full-nav {
  background-image: linear-gradient(rgba(255,255,255,1) 75%, rgba(255,0,0,0));
  position: absolute;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
/*
INDEX PAGE CSS
*/
#slideshow-header {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#slideshow-text-1 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  border: 4px solid black;
  font-size: 50px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(199, 199, 199, 0.6);
}
#full-landing {
  position: relative;
  height: auto;
}
#img-slideshow {
    height: 980px;
    width: 100%;
}
/*
PROPERTY CARD RELATED
*/
.property-card-image {
  height: 300px;
  text-align: center;
  max-width: 490px;
}
.properties {
  background-image: linear-gradient(rgba(255,0,0,0), rgba(255,255,255,1) 10%);
  height: auto;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  top: 850px;
}
.property-card {
  width: 500px;
  height: auto;
  margin: auto;
  position: relative;
  margin-top: 50px;
  border: 4px solid black;
}
.tile {
  cursor: pointer;
}
.image-row {
  display: flex;
  justify-content: space-between;
}
.icon-info {
  width: 60px;
  height: 60px;
}
.column {
  float: left;
  width: 90px;
}
.image,
.tile {
  height: 90px;
}
.more-photos-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
.more-info-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
.more-info-button:hover {
  cursor: pointer;
}
.button-box {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.info-icons {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/*
0 PROPERTY CARD
*/
.property-image-0 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-0 {
  opacity: 0.6;
}
.active,
.image_0:hover {
  opacity: 1;
}
.prev-0,
.next-0 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-0 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-0:hover,
.next-0:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
1 PROPERTY CARD
*/
.prev-1,
.next-1 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-1:hover,
.next-1:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.image-1 {
  opacity: 0.6;
}
.property-image-1 {
  display: none;
  height: 300px;
  text-align: center;
}
.active,
.image_1:hover {
  opacity: 1;
}
/*
2 PROPERTY CARD
*/
.property-image-2 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-2 {
  opacity: 0.6;
}
.active,
.image_2:hover {
  opacity: 1;
}
.prev-2,
.next-2 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-2:hover,
.next-2:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
3 PROPERTY CARD
*/
.property-image-3 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-3 {
  opacity: 0.6;
}
.active,
.image_3:hover {
  opacity: 1;
}
.prev-3,
.next-3 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-3:hover,
.next-3:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
4 PROPERTY CARD
*/
.property-image-4 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-4 {
  opacity: 0.6;
}
.active,
.image_4:hover {
  opacity: 1;
}
.prev-4,
.next-4 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-4 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-4:hover,
.next-4:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
5 PROPERTY CARD
*/
.property-image-5 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-5 {
  opacity: 0.6;
}
.active,
.image_5:hover {
  opacity: 1;
}
.prev-5,
.next-5 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-5 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-5:hover,
.next-5:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
6 PROPERTY CARD
*/
.property-image-6 {
  display: none;
  height: 300px;
  text-align: center;
}
.image-6 {
  opacity: 0.6;
}
.active,
.image_6:hover {
  opacity: 1;
}
.prev-6,
.next-6 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-6 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-6:hover,
.next-6:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
PROPERTY PAGE RELATED
*/
#property-info {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#property-image {
  text-align: center;
}
.photos {
  height: 400px;
  width: auto;
}
.extra-info h1 {
  font-family: 'Odor Mean Chey', serif;
}
.extra-info p {
  font-family: 'Basic', sans-serif;
}
.property-icons {
  width: 60px;
  height: 60px;
}
.extra-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.info-text {
  width: 480px;
  margin-left: 35px;
}
.info {
  text-align: center;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
}
/*
BLOG PAGE RELATED
*/
#main-blog-image {
  width: 100%;
  height: 700px;
}
#topic-info p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.topic-header {
  font-family: 'Odor Mean Chey', serif;
}
#blog-topics h1{
  font-family: 'Odor Mean Chey', serif;
  text-align: center;
}
.topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.topic-photo {
  height: 400px;
  width: 70%;
}
#blog-topics {
  top: 550px;
  background-image: linear-gradient(rgba(255,0,0,0), rgba(255,255,255,1) 5%);
  position: absolute;
}
.topic-button {
  border: 4px solid black;
  font-family: 'Odor Mean Chey', serif;
  background-color: white;
  width: 140px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
}
/*
TOPIC PAGE RELATED
*/
.blog-heading {
  font-family: 'Odor Mean Chey', serif;
  margin-top: 200px;
}
#blog-main {
  text-align: center;
}
/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*
FOOTER-0 RELATED
*/
#footer-0 {
  background-image: linear-gradient(rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 890px;
}
.footer-header {
  font-size: 25px;
}
.columns {
  text-align: center;
}
#footer-menu {
  width: 80%;
  margin: auto;
}
.footer-nav-bar-links {
  color: white;
  font-size: 20px;
}
#footer-email {
  font-size: 20px;
}

/*
FOOTER-1 RELATED
*/
#footer-1 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 2450px;
}

/*
FOOTER-2 RELATED
*/
#footer-2 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1700px;
}
/*
FOOTER-3 RELATED
*/
#footer-3 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1700px;
}
/*
FOOTER-4 RELATED
*/
#footer-4 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1150px;
}
/*
FOOTER-5 RELATED
*/
#footer-5 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1350px;
}
/*
FOOTER-6 RELATED
*/
#footer-6 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 950px;
}
/*
FOOTER-7 RELATED
*/
#footer-7 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1250px;
}
/*
FOOTER-8 RELATED
*/
#footer-8 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1950px;
}
/*
FOOTER-9 RELATED
*/
#footer-9 {
  background-image: linear-gradient( rgba(255,0,0,0), rgba(65,65,65,1) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 250px;
  position: absolute;
  width: 100%;
  top: 1700px;
}
/*
IPHONE CSS
*/
@media (max-width: 600px) {
  * {
    border: 1px solid red;
  }
  #menuToggle
  {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menu li {
    margin: 0;
  }
  #menu a:last-child {
    margin-top: -130px;
  }
  #menuToggle a:hover
  {
    color: tomato;
  }
  #menuToggle input
  {
    margin-left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span
  {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(8px, 0px);
    background: #232323;
    
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0px, 10px);
  }
  #menu
  {
    text-align: center;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    width: 190px;
    height: 100%;
    margin: 0px 0 0 -100px;
    position: fixed;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 45%;
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  html {
    width: 290px;
  }
  body {
    min-width: 290px;
  }
  #full-nav {
    width: 290px;
  }
  #img-slideshow {
    width: 290px;
  }
  #slideshow-header {
    display: none;
  }
  #full-landing {
    width: 290px;
  }
  body {
    height: 1500px;
    width: 290px;
  }
  #footer-0 {
    display: block;
    height: 400px;
    width: 290px;
    top: 900px;
  }
  .properties {
    top: 650px;
    display: block;
  }
  #footer-1 {
    top: 2900px;
    display: block;
    height: 400px;
  }
  #footer-2 {
    top: 1500px;
    height: 400px;
    display: block;
  }
  #footer-8 {
    top: 2000px;
    display: block;
    height: 400px;
  }
  #footer-9 {
    top: 2200px;
    display: block;
    height: 400px;
  }
  footer ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  footer li {
    padding-top: 20px;
  }
}